.product_img{
    max-height: 2000px;
    width: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}
.product{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 500px;
    max-width: 300px;
    background-color: rgba(237, 236, 240, 0.048);
    z-index: 1;
}
